# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Hide files of type .png, .zip, .jpg, .gif and .doc from listing
IndexIgnore *.log

# Deny access to files with extensions .ini, .psd, .log, .sh
<FilesMatch "\.(log)$">
Order allow,deny
Deny from all

</FilesMatch>

# Deny access to filenames starting with dot(.)
#<FilesMatch "^\.">
#Order allow,deny
#Deny from all
#</FilesMatch>

ErrorDocument 404 /error.php?title=Code%20404&content=The%20page%20you%20are%20looking%20for%20does%20not%20exist!
ErrorDocument 403 /error.php?title=Code%20403&content=You%20are%20not%20allowed%20to%20acces%20this%20file!
