* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.mainframe {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.servertile {

}
.serverindex {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
}
